:root {
  --title-black: #414244;
  --app-backgound-grey: #F5F6FA;
  --card-background-white: #FFFFFF;
  --card-font-color: #7D7D7D;
  --waiting-time-font-color: #B4B4B4;
  --waitng-time-minute-color: #C8859C;
  --brown-grey: grey;

  --font: Tahoma;
  --small: 11px;
  --body: 13px;
  --title: 16px;
}

html {
  background: #FFFFFF;
  color: var(--title-black);
}

body {
  margin: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark);
  font-family: var(--font);
  border: 1px solid black;
}