.container {
    height: 100%;
    padding: 0 20px;
    overflow: scroll;
    background-color: var(--app-backgound-grey);
}

.title {
    padding: 30px 0;
    font-weight: bold;
}

.main {
    height: 80%;
    padding: 10px 0;
}